<h2>New Product</h2>

<% if @product.errors.any? %>
    <%= render "shared/validation_errors", model: @product %>
<% end %>

<div class="mt-3">

    <%= render "shared/product_form", path: user_products_path %>

</div>